*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: arial;
    color: black;
    margin-left: 7%;
}

#subtitulo{
    font-family: arial;
    color: black;
    margin-left: 10%;
}
fieldset {
    border: 0;
}

#titulolista {
    font-family: Arial;   
    color: green;
    margin-top: 5%;
    margin-left: 10%;
}

body {
    font-family: Arial;   
    color: black;
    margin-top: 2%;
    margin-left: 30%;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    display: flex;
}    


button {
    background-color: darkblue;
    color: whitesmoke;
    padding: 10px;
    border: none;
}

th {
    background-color: rgb(247, 164, 10) ;
    color: black;
    padding: 30px 50px 30px 50px;
}